# public net.minecraft.data.loot.BlockLoot m_124157_(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/world/level/block/Block;[F)Lnet/minecraft/world/level/storage/loot/LootTable$Builder; # createLeavesDrops
# public-f net.minecraft.world.entity.npc.Villager WANTED_ITEMS # WANTED_ITEMS

# WANTED_ITEMS
public-f net.minecraft.world.entity.npc.Villager f_35372_ #WANTED_ITEMS
public-f net.minecraft.world.entity.npc.Villager WANTED_ITEMS #WANTED_ITEMS

# setflammable
public net.minecraft.world.level.block.FireBlock m_53444_(Lnet/minecraft/world/level/block/Block;II)V    #setflammable
public net.minecraft.world.level.block.FireBlock setFlammable(Lnet/minecraft/world/level/block/Block;II)V #setflammable


# BlockEntityType.validBlocks
public-f net.minecraft.world.level.block.entity.BlockEntityType f_58915_
public-f net.minecraft.world.level.block.entity.BlockEntityType validBlocks

# FoodProperties
#public-f net.minecraft.world.food.FoodProperties nutrition
#public-f net.minecraft.world.food.FoodProperties f_38723_
#public-f net.minecraft.world.food.FoodProperties saturationModifier
#public-f net.minecraft.world.food.FoodProperties f_38724_

public-f net.minecraft.world.item.Item foodProperties
public-f net.minecraft.world.item.Item f_41380_

